<mat-form-field id="formField_originStarSystem">
  <mat-label>Origin</mat-label>
  <mat-select id="select_originStarSystem" [(value)]="originStarSystem" (valueChange)="updateOriginStarSystem()">
    @for (starSystem of starSystems | sortBy: 'name'; track starSystem) {
      <mat-option [value]="starSystem">{{starSystem.name}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<br/>

<mat-form-field id="formField_destStarSystem">
  <mat-label>Destination</mat-label>
  <mat-select id="select_destStarSystem" [(value)]="destStarSystem" (valueChange)="updateDestStarSystem()">
    @for (starSystem of starSystems | sortBy: 'name'; track starSystem) {
    <mat-option [value]="starSystem">{{starSystem.name}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<br/>

<mat-label>Jump Levels</mat-label>
<mat-button-toggle-group [value]="jumpLevels" (change)="updateJumpLevels($event)" hideMultipleSelectionIndicator="true" multiple>
  <mat-button-toggle value="Alpha">Alpha</mat-button-toggle>
  <mat-button-toggle value="Beta">Beta</mat-button-toggle>
  <mat-button-toggle value="Gamma">Gamma</mat-button-toggle>
  <mat-button-toggle value="Delta">Delta</mat-button-toggle>
  <mat-button-toggle value="Epsilon">Epsilon</mat-button-toggle>
</mat-button-toggle-group>


<div *ngFor="let path of paths; let i = index">
  <p>Path #{{i+1}}</p>
  <ol>
    <li *ngFor="let step of path">{{step}}</li>
  </ol>
</div>
